.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 157px;
  background-image: url("../../img/footer.jpg");
  background-position: center;
  font-size: 15px;
  font-weight: 400;
  background-size: cover;
}

@media (max-width: 930px) {
  .footer {
    height: 270px;
  }
}

@media (max-width: 480px) {
  .footer {
    height: 300px;
  }
}

.footer__wrapper {
  display: flex;
  height: 127px;
  align-items: flex-start;
  justify-content: space-between;
  /* margin: 0 auto; */
  min-width: 1280px;
}

@media (max-width: 1280px) {
  .footer__wrapper {
    min-width: 100%;
  }
}

@media (max-width: 930px) {
  .footer__wrapper {
    min-height: 235px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer__wrapper {
    min-height: 275px;
  }
}

.footer__wrapper--licence {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008689;
  min-height: 30px;
}

.footer__string {
  display: flex;
  justify-content: space-between;
}

.footerlogo__img {
  margin: 23px 0px 0px 66px;
}

@media (max-width: 930px) {
  .footerlogo__img {
    margin: 20px 0;
  }
}

.footer__column--center {
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .footer__column--center {
    display: flex;
  }
}

.footer__contacts {
  margin-top: 38px;
  display: flex;
}

@media (max-width: 1060px) {
  .footer__contacts {
    font-size: 12px;
  }
}

@media (max-width: 930px) {
  .footer__contacts {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 800;
  }
}

@media (max-width: 480px) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts__mail--footer {
    margin-bottom: 8px;
  }
}

.footer__contacts--left {
  display: flex;
  flex-direction: column;
  margin-right: 17px;
}

@media (max-width: 480px) {
  .footer__contacts--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
}

.adress__icon {
  margin-right: 19.76px;
}

.contacts__adress {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.contacts__adress--text {
  margin-bottom: 0;
}

.contacts__mail--footer {
  display: flex;
  align-items: center;
}

.footer__contacts--right {
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .footer__contacts--right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0;
  }
}

.contacts__phone--footer--first {
  display: flex;
  align-items: start;
  margin-bottom: 8px;
}

@media (max-width: 480px) {
  .contacts__phone--footer--first {
    margin-right: 12px;
  }
}

.footer__socials {
  margin-top: 42px;
  margin-right: 75px;
}

@media (max-width: 1060px) {
  .footer__socials {
    font-size: 12px;
  }
}

@media (max-width: 930px) {
  .footer__socials {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-weight: 800;
  }

  .phone__icon--footer {
  width: 16px;
  height: 16px;
  }

  .mail__icon--footer {
    height: 16px;
    }

  .adress__icon {
    height: 16px;
  }
}

.license {
  margin: 0px 0px 0px 66px;
}

@media (max-width: 930px) {
  .license {
    margin: 0;
    font-size: 12px;
  }
}


