.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 196px;
  background-color: rgb(0, 134, 137);
  background-image: url("../../img/head.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 930px) {
  .header {
    height: 235px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 210px;
  }
}

.header__wrapper {
  font-weight: 800;
  display: flex;
  min-height: 156px;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 1280px;
}

@media (max-width: 1280px) {
  .header__wrapper {
    min-width: 100%;
  }
}

@media (max-width: 930px) {
  .header__wrapper {
    min-height: 235px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .header__wrapper {
    width: 80%;
    min-height: 210px;
  }
}


.header__wrapper--menu {
  background-color: rgb(0, 134, 137, 0.85);
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 930px) {
  .header__wrapper--menu {
    display: none;
  }
}

.header__column--left {
  display: flex;
}

@media (max-width: 480px) {
  .header__column--left {
    font-size: 15px;
  }
}

.header__column--right {
  display: flex;
}

@media (max-width: 930px) {
  .header__column--right {
    align-items: center;
    justify-content: space-between;
    width: 430px;
  }
}

@media (max-width: 480px) {
  .header__column--right {
    width: 84%;
    font-size: 12px;
  }
}

.mainlogo__img {
  margin: 23px 0px 0px 66px;
}

@media (max-width: 930px) {
  .mainlogo__img {
    margin: 23px 0px 0px 0px;
  }
}

@media (max-width: 480px) {
  .mainlogo__img {
    width: 250px;
    height: 70.1px;
  }
}

.contacts {
  margin: 23px 27px 0 0;
}

@media (max-width: 930px) {
  .contacts {
    margin: 0 0 24px 0;
    align-items: center;
  }
}

.contacts__phone {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.phone__icon {
  margin-right: 15px;
}

@media (max-width: 480px) {
  .phone__icon {
    width: 15px;
    height: 15px;
  }
}

.contacts__mail {
  display: flex;
  align-items: center;
}

.mail__icon {
  margin-right: 10.56px;
}

@media (max-width: 480px) {
  .mail__icon {
    height: 15px;
  }
}

.order {
  margin: 23px 75px 0 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 930px) {
  .order {
    margin: 0 0 24px 0;
    align-items:center
  }
}

.socials {
  margin-top: 11px;
}

.social__youtube {
  display: flex;
  align-items: center;
}

.social__youtube--name {
  margin: 0 10px 0 0;
}

.social__youtube--link {
  display: flex;
  align-items: center;
  transition: .5s;
}

.social__youtube--link:hover {
  color: #00a9ac;
  transition: .5s;
}