.news {
  height: 100%;
  display: flex;
  justify-content: center;
  color: #000;
}

@media (max-width: 1280px) {
  .news {
    min-width: 100%;
  }
}

@media (max-width: 930px) {
  .news {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .news {
    width: 80%;
    min-height: 210px;
  }
}

.news-block {
  width: 1280px;
}

@media (max-width: 1235px) {
  .news-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 930px) {
  .news-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.news-block__title {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
  margin: 15px 0 23px 66px;
}

@media (max-width: 1235px) {
  .news-block__title {
    font-size: 23px;
    margin: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.news-block__link {
  color: #000;
  transition: .3s;
}

.news-block__link:hover {
  color: #008689;
  transition: .3s;
}

.news-block__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 66px;
}

@media (max-width: 1235px) {
  .news-block__main {
    font-size: 19px;
    display: flex;
    max-width: 930px;
    margin-left: 0;
    align-items: center;
    justify-content: space-evenly;
  }
}

.news-block__card {
  height: 380px;
  width: 350px;
  border-radius: 5px;
  margin-right: 40px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1235px) {
  .news-block__card {
    margin-right: 0;
  }
}

.news-block__card:last-child {
  margin-right: 0;
}

.news-block__card:hover {
  color: #008689;
  transition: .5s;
}

.news-block__card:hover > .news-block__card-img {
  box-shadow: 4px 4px 4px #007779;
  transition: .5s;
}

.news-block__card-img {
  border-radius: 5px;
  margin-bottom: 8px;
  box-shadow: 4px 4px 4px #d1d1d1;

}

.news-block__card-date {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.news-block__card-title {
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.news-block__card-text {
  font-size: 16px;
  font-weight: 400; 
}