.projects {
  height: 100%;
  display: flex;
  justify-content: center;
  color: #000;
}

@media (max-width: 1280px) {
  .projects {
    min-width: 100%;
  }
}

@media (max-width: 930px) {
  .projects {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .projects {
    width: 80%;
    min-height: 210px;
  }
}

.projects-block {
  max-width: 1280px;
  margin-bottom: 30px;
}

@media (max-width: 930px) {
  .projects-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.projects-block__title {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
  margin: 15px 0 23px 66px;
}

@media (max-width: 1235px) {
  .projects-block__title {
    font-size: 23px;
    margin: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.projects-block__link {
  color: #000;
  transition: .3s;
}

.projects-block__link:hover {
  color: #008689;
  transition: .3s;
}

.projects-block__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 66px;
}

@media (max-width: 1235px) {
  .projects-block__main {
    font-size: 19px;
    display: flex;
    max-width: 930px;
    margin-left: 0;
    align-items: center;
    justify-content: space-evenly;
  }
}

.projects-block__card {
  height: 250px;
  width: 350px;
  border-radius: 5px;
  margin-right: 40px;
  margin-bottom: 26px;
  display: flex;
  align-items: flex-end;
  box-shadow: 4px 4px 4px #d1d1d1;
  transition: .5s;
}

@media (max-width: 1235px) {
  .projects-block__card {
    margin-right: 0;
  }

  /* .projects-block__card:nth-child(n+4) {
    display: none;
  } */
}

.projects-block__card:last-child {
  margin-right: 0;
}

.projects-block__card:hover {
  box-shadow: 4px 4px 4px #007779;
  transition: .5s;
}

.projects-block__card-bgr {
  min-height: 70px;
  border-radius: 5px;
  background-color: rgb(0, 134, 137, 0.85)
}

.projects-block__card-title {
  color: #fff;
  font-size: 16.5px;
  font-weight: 700;
  margin: 11px 9px 9px 11px;
  width: 330px;
}

